<app-navbar> </app-navbar>
<section class="page-section" id=spots>
    <div class="container">
  
            <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
                <mat-card class="example-card">

                    <div class="margin"  >
                        <br>
                        <br>
                        <br>
                        <br>
                  
                    <form action="" id="spot-entry-form" class="login-form">
                        <h2>Add a spot</h2>
                        <input [(ngModel)]="spotEdit.id_Spot" type="text" name="idSpot-form" id="idSpot-form" hidden>

                        <input [(ngModel)]="spotEdit.number" type="number" name="number-form" id="number-form" class="form-control rounded-left" placeholder="Number" required="">

                        <input [(ngModel)]="spotEdit.type"  name="type-form" id="type-form" class="form-control rounded-left" placeholder="type" required="">
                       
                        <select [(ngModel)]="spotEdit.vehicle.id_Vehicle"  class="form-control rounded-left" name="parking-spot-form" id="parking-spot-form">
                            <option value="0" selected>Select the vehicle</option>
                            <option [value]="item.id_Vehicle" *ngFor="let item of vehicle">{{item.license_Plate}}</option>
                        </select>
                          <input [(ngModel)]="spotEdit.status"  name="status-form" id="status-form" class="form-control rounded-left" placeholder="status" required="">
                         
                          <select  class="form-control" id="status-form" required="">
                            <option value="Inactive">Inactive</option>
                            <option value="Active">Active</option>
                          </select>

                        <select [(ngModel)]="spotEdit.parking_lot.id_Parking_Lot"  class="form-control rounded-left" name="parking-spot-form" id="parking-spot-form">
                            <option value="0" selected>Select the parking lot</option>
                            <option [value]="item.id_Parking_Lot" *ngFor="let item of parkingSelect">{{item.name}}</option>
                        </select>

                        <button class="form-control btn btn-primary rounded submit px-3" (click)="updateSpot()">update</button>

                    </form>
                </div>                
            </mat-card> 
                
            </div>
        </div>
        <div class="example-button-container">
            <button mat-icon-button="Link"  routerLink="/PrincipalAdmin" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
              </button>
            </div>
</section>
