<app-navbar></app-navbar>

<section class="page-section" id="vehicles">
    <div class="container">
      
            <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">

                <br>
                <br>
                <br>
                <div class="entry-form3">
                    <form action="" id="vehicle-entry-form">
                        <h2>Add your vehicle</h2>

                        <input [(ngModel)]="vehicleData.id_Vehicle" type="text" name="idVehicle-form" id="idVehicle-form" hidden>

                        <input [(ngModel)]="vehicleData.license_Plate" type="text" name="licencsePlate-form" id="licensePlate-form" class="form-control" placeholder="License Plate" required="">

                        <input [(ngModel)]="vehicleData.color" type="text" name="color-form" id="color-form" class="form-control" placeholder="Color" required="">

                        <input [(ngModel)]="vehicleData.weight" type="number" name="weight-form" id="weight-form" class="form-control" placeholder="Weight" required="">

                        <input [(ngModel)]="vehicleData.brand" type="text" name="brand-form" id="brand-form" class="form-control" placeholder="Brand" required="">

                        <select [(ngModel)]="vehicleData.vehicle_Type.id_Type" class="form-control without-margin" name="type-form" id="type-form">
                            <option value=0 selected>Select the type of the vehicle</option>
                            <option value=1 selected>Vehiculo Particular</option>
                            <option value=2 selected>Vehiculo Carga</option>
                            <option value=3 selected>Motocicleta</option>
                            <option value=4 selected>Bicicleta</option>
                            <option value=5 selected>Vehiculo Pesado</option>
                        </select>

                        <button class="submit-btn form-control" (click)="addVehicle()" id="form-submit-vehicle">Add Vehicle</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="example-button-container">
            <button mat-icon-button="Link"  routerLink="/PrincipalAdmin" aria-label="Example icon button with a home icon" id="btnHomeVehicle">
                <mat-icon>home</mat-icon>
              </button>
            </div>
</section>
