

<section id="Table-Role">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">

                <div class="text-center">
                    <br>
                    <br>
                    <br>
                    <h2 class="section-heading text-uppercase">Roles</h2>
                </div>

                <div class="addButton">
                    <button type="button" class="btn btn-secondary" (click)="add()">+</button>
                </div>
                <br>                             
                <div class="table-responsive">
                    <table id="Table-IDRole" class="table table-bordered table-hover" id="role-table">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>

                        </thead>

                        <tbody id="role-tbody">
                            <tr *ngFor="let s of role">
                                <td scope="row">{{s.id_Role}} </td>
                                <td scope="row">{{s.name}} </td>
                                <td>
                                    <div class="example-button-row">
                                        <button mat-fab color="primary" routerLink="/UpdateRole/{{s.id_Role}}" aria-label="Example icon button with a delete icon">
                                            <mat-icon>update</mat-icon>
                                           </button>
                                        
                                      
                                        <button mat-fab color="warn" (click)="deleteRole(s.id_Role)" aria-label="Example icon button with a delete icon">
                                            <mat-icon>delete</mat-icon>
                                           </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>