
<!-- Navigation-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="mainNav">
    <div class="container-fluid" id="idNat">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0 xs-auto">
            <li class="nav-item"><a class="nav-link" id="bookingNav" routerLink="/homes">Home</a></li>
                <li class="nav-item"><a class="nav-link" id="formP" routerLink="{{'/Principal'+ role}}">{{role}}</a></li>
                <li class="nav-item"><a class="nav-link" id="loginId" (click)="openDialog()">{{email}}</a></li>    
               <li class="nav-item"> <a  *ngIf="authService.isLoggedIn$ | async" (click)="logout()" class="nav-link" id="logoutId">
                    Log out
               </a>
              </li>
            </ul>

        </div>
    </div>
</nav>

