<app-navbar> </app-navbar>

<section>
    <div class="container">
        <div class="text-center">
            <br>
            <br>
            <br>
            <br>
            <h2 class="section-heading text-uppercase">My reservations </h2>
            <br>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="table-responsive">

                    <table id="ClientReservation-table" class="table table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>
                                    Ticket Number
                                </th>
                                <th>
                                    Parking Lot
                                </th>
                                <th>
                                    Spot Number
                                </th>
                                <th>
                                    Client
                                </th>
                                <th>
                                    Rate
                                </th>
                                <th>
                                    StartDay
                                </th>
                                <th>
                                    EndDay
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody id="UserReservation-tbody">
                            <tr *ngFor="let s of reservations">
                                <td scope="row">{{s.idTicket}} </td>
                                <td scope="row">{{s.parkingLot.name}} </td>
                                <td scope="row">{{s.spot.number}} </td>
                                <td scope="row">{{s.user.name}} </td>
                                <td scope="row">{{s.rateType.amount}} </td>
                                <td scope="row">{{s.starDay}} </td>
                                <td scope="row">{{s.endDay}} </td>
                                <td>
                                    <button mat-fab color="primary" routerLink="/UpdateReservation/{{s.idTicket}}"
                                        aria-label="Example icon button with a delete icon">
                                        <mat-icon>update</mat-icon>
                                    </button>

                                    <button mat-fab color="warn" (click)="delete(s.idTicket)"
                                        aria-label="Example icon button with a delete icon">
                                        <mat-icon>delete</mat-icon>
                                    </button>



                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>