.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form {
    width: 50%;
  }

  @media (min-width: 1200px) {
    .form {
      width: 30%;
      height: 50;
    }
}

@media (min-width: 600) {
  .form {
    width: 50%;
  }
}
