
 <app-navbar></app-navbar>

    

    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome!</div>
            <div class="masthead-heading text-uppercase">Smart Parking CR</div>
            
            <!--<a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>-->
        </div>
    </header>


    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Services</h2>
                <h3 class="section-subheading text-muted">SMART PARKING CR offers</h3>
            </div>
            <div class="row text-center">

                <div class="col-md-4">
                    <h4 class="my-3">Consult </h4>
                    <p class="text-muted">Consult parks, spaces and prices</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Reserve</h4>
                    <p class="text-muted">Reserve one or more spaces for hours, days, weeks, months or years.</p>
                </div>
            </div>
        </div>
    </section>




    


    <!-- About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">About</h2>
                <h3 class="section-subheading text-muted">know us</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/imagen1.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2015</h4>
                            <h4 class="subheading">Our beginnings</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">
                                Smart parking is a company founded in 2015, that manage parking lots, each product
                                implements the most avanced technology in order to give the best services to out clients.
                            </p>
                        </div>
                    </div>
                </li>

                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>
                            Be Part
                            <br />
                            Of Our
                            <br />
                            Story!
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>



   
  
