<section>
    <div class="text-center">
        <br>
        <br>
        <br>
        <h2 class="section-heading text-uppercase">Users </h2>
    </div>
    <br>

    

  <div class="container">  
    <div class="row">
<div class="col-md-12 col-sm-12">
    <div class="addButton">
        <button type="button" class="btn btn-secondary" (click)="addUser()">+</button>
    </div>
  <div class="table-responsive">
    
      <table id="ClientReservation-table" class="table table-bordered table-hover">

          <thead>
          <tr>
              <th>
                  Id
              </th>
              <th>
                Identification
              </th>
              <th>
                  Name
              </th>
              <th>
                Last Name
            </th>
              <th>
                Telephone number
              </th>
              <th>
                  Email
              </th>
              <th>
                Role
            </th>
            
              <th>
                Actions
            </th>
          </tr>
      </thead>
      <tbody id="UserReservation-tbody">
            <tr *ngFor="let s of user">
      <td scope="row">{{s.id_User}} </td>
      <td scope="row">{{s.identification}} </td>
      <td scope="row">{{s.name}} </td>
      <td scope="row">{{s.last_Name}} </td>
      <td scope="row">{{s.tel_Number}} </td>
      <td scope="row">{{s.email}} </td>
      <td scope="row">{{s.role.name}} </td>
      <td>
        <div class="example-button-row">
          <button mat-fab color="primary" routerLink="/updateUser/{{s.id_User}}" aria-label="Example icon button with a delete icon">
            <mat-icon>update</mat-icon>
           </button>
           <button mat-fab color="warn" (click)="delete(s.id_User)" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
           </button>
           
           </div>
        </td>
        </tr>
         </tbody>

        </table>
        </div>
      </div>
    </div>
  </div>
</section>
