<app-navbar></app-navbar>
<!-- 
<div class="text-center">
    <h2 class="section-heading text-uppercase">Rate Type Registration</h2>
</div>


<section class="page-section" id="rateType">
    <div class="container">
        <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
            <div class="entry-form3">
                <form [formGroup]="rateTypeForm" (ngSubmit)="addRateType()" #formDir="ngForm">
                    <h2>Rate Type</h2>
                    <input type="text" autocomplete="off" name="idRateType" id="idRateType" formControlName="id" hidden>

                    <select class="form-control rounded-left" id="bookingTime" formControlName="booking_Time">
                        <option value="0" selected>Select the Booking Time</option>
                        <option value="1">Per Hour</option>
                        <option value="2">Per Half Hour</option>
                        <option value="3">Per Day</option>
                        <option value="4">Per Week</option>
                        <option value="5">Per Month</option>
                        <option value="6">Per Year</option>
                    </select>
                    <div>
                        <span class="text-danger" *ngIf="rateTypeForm.hasError('required', 'booking_Time') && formDir.submitted">
                            BookingTime is required
                        </span>
                    </div>

                    <input type="text" autocomplete="off" name="amount" id="amount" class="form-control" formControlName="amount" placeholder="Amount" required="">
                    <div>
                        <span class="text-danger" *ngIf="rateTypeForm.hasError('required', 'amount') && formDir.submitted">
                            Amount is required
                        </span>
                    </div>

                    <button class="submit-btn form-control" type="submit">Insert Rate</button>
                </form>

            </div>
        </div>
    </div>
</section> -->


<app-navbar></app-navbar>

<div class="container">
    <div class="abs-center">
        <form [formGroup]="rateTypeForm" (ngSubmit)="addRateType()" action="#" class="border rounded p-2 form">
            <h1 class="text-center display-1">Add Rates</h1>

            <div class="mt-2">
                <input formControlName="bookingTime" name="bookingTime" placeholder="Booking Time"
                    class="form-control mt-17"/>
            </div>

            <div class="mt-2">
                <input formControlName="amount" name="amount" placeholder="Amount"
                    class="form-control mt-17"/>
            </div>
            <div class="flex-conteiner">
                <div class="m-2">
                    <button type="submit" class="btn btn-dark">
                        Update
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                        </svg>
                    </button>
                </div>
                <div class="m-2">
                    <button routerLink="/PrincipalAdmin" type="submit" class="btn btn-danger">
                        Return
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
