<app-navbar></app-navbar>

<div class="text-center">
    <h2 class="section-heading text-uppercase">Roles Registration</h2>
</div>


<section class="page-section" id="role">
    <div class="container">
        <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
            <div class="entry-form3">
                <form [formGroup]="roleForm" (ngSubmit)="addRole()" #formDir="ngForm">
                    <h2>Add Rol</h2>
                    <br>

                    <input type="text" name="idRole" formControlName="id" hidden>
                    <input type="text" name="nameRole" id="nameRole" class="form-control" formControlName="name" placeholder="Enter the role name" required="">
                    <div>
                        <span class="text-danger" *ngIf="roleForm.hasError('required', 'name') && formDir.submitted">
                            Role name is required
                        </span>
                    </div>
                    <button class="submit-btn form-control" type="submit">Add role</button>
                </form>
            </div>
        </div>
    </div>
</section>