<app-navbar></app-navbar>


<section class="page-section" id="roleUpdate">
    <div class="container">
        <div class="col-md-offset-1 col-md-4 col-sm-12" id="log">
            <mat-card class="example-card">

                <div class="margin" >
                    <br>
                    <br>
                    <br>
                    <br>
            <h3 class="text-center mb-4">Update Role</h3>
            <form action="" id="Rol-update-entry-form" class="login-form">
                <input [(ngModel)]="roleDataUpdate.id_Role"type="text" autocomplete="off" name="id" id="idModalRole" hidden>

                <input [(ngModel)]="roleDataUpdate.name "type="text" autocomplete="off" name="name" id="nameModalRole" class="form-control rounded-left" placeholder="Full name" required="">

                <button class="form-control btn btn-primary rounded submit px-3" (click)="update()">Update</button>
            </form>
        </div>                
    </mat-card> 
        </div>
    </div>
</section>